%h2
  Results for:
  %mark= params[:search]


- @grouped.each do |dir, files|

  %h4
    %a{href: "/#{dir.relative_name(@path)}"} 
      / ^- problemo! it's not pointing at the correct path (missing dirs[0])
      = highlight(dir.relative_name(@path), @query)

  %ul
    - files.each do |file|
      %a{href: file.relative_name(@path)}
        = highlight(file.relative_name(dir), @query)
      %br


